@font-face {
    font-family: 'alex_brushregular';
    src: url('alexbrush-regular-webfont.eot');
    src: url('alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('alexbrush-regular-webfont.woff2') format('woff2'),
    url('alexbrush-regular-webfont.woff') format('woff'),
    url('alexbrush-regular-webfont.ttf') format('truetype'),
    url('alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantregular';
    src: url('assistant-regular-webfont.eot');
    src: url('assistant-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('assistant-regular-webfont.woff2') format('woff2'),
    url('assistant-regular-webfont.woff') format('woff'),
    url('assistant-regular-webfont.ttf') format('truetype'),
    url('assistant-regular-webfont.svg#assistantregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
    background-color: #f2f2f2;
}


p{
    font-size:15px;
}

h1{
    font-family:"assistantregular"
}



.logo{
    
    width:60%;    
}

.logo>img{
    
    display:block;
}

.headContainerSection{
    display:flex;
   width: 20%;
    margin:auto;
    font-family:'assistantregular'
}  

.headContainer{
    display:flex;
    flex-direction:row;
background: rgb(215,234,242);
background: linear-gradient(86deg, rgba(215,234,242,1) 0%, rgba(15,76,155,1) 53%);
 font-family:'assistantregular';
font-weight:bold;
}

h1,p,h2{
    text-align:center;
    color:black;
}

.scrolling:hover,#colorHover1:hover,#colorHover2:hover,#colorHover3:hover{
    background-color:#f3f4fa;
}
   
.scrolling{
    width:10%;
    padding:10px;
    margin: 55px;
    background-color: rgb(215, 231, 250);
}

a{
    text-decoration:none;
    color:black;
}

#presentationBank{
    background-color: #f2f2f2;
    width:95%;
    margin:auto;  
margin-bottom:10px;
position:absolute;
margin-top:0;
}

#presentationBank>p{
    position:relative;
    top:400px;
    font-size:2.5em;
   font-family: 'alex_brushregular';
}

#centerPage{   
    border:black solid 2px;
    width:80%;
    margin:auto;
    margin-top:40px;
    margin-bottom: 40px;
    background-color:(215, 231, 250);
    box-shadow: 60px -16px rgb(15, 76, 155);
}

#news{
    border:black solid 2px;
    box-shadow: 2px 2px 10px black;
    width:95%;
    margin-right:10px;
    margin-left:10px;
}

article{
    border:black 3px solid;
    margin:10px;
    padding:20px;
    background-color:white;
}

.advice{
    border:black 2px solid;
    background-color:#f3f4fa;
    
}


.valors{
    display:flex;
    flex-direction:column;
   
    width:100%;
    margin:auto;
    margin-bottom:30px;
    padding-bottom:30px;
    background-color:rgb(127, 192, 252,0.8);
}

#underValors>img{
    display:block;
}


.containerRowCenter,nav>:first-child{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;}

.containerColumnCenter{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
width:20%;
margin:auto;
padding:7px;
background-color: rgb(215, 231, 250);
}

ul{
    list-style:none;   
}

#footerSection1{

width:100%;
margin:10px;
}

.footerSection2{
    
    margin:50px;
   background-color: rgb(215, 231, 250);
    width:15%;
}

.footerSection2>ul>li{
    margin:2px;
    padding:5px;
   
}



.logo>img{
    background-color:#f2f2f2;
}

nav>div>a{
   
    margin:5px;
    padding:5px;
}

nav>div>a:hover{
    border-bottom: rgb(15, 76, 155) 3px solid;
}
nav{
    
    display:flex;
    flex-direction:row;
vertical-align:center;
justify-content:space-between;
width:100%;
background-color: #dce3f2;
font-family:'assistantregular';
font-weight:bold;
}

#presentationBank{
   position:relative;
}
.presentationBank > p{
    border:2px black solid;
    position: absolute;
    top:300px;
    font-size:50px;
}



.borderRadius{
    border-radius: 20px;
    
}

#ourValors{
    width:20%;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    font-size: 30px;
    font-weight:bold;
    text-decoration:underline;
    padding:5px;
    background-color:#f2f2f2;
}

#boxShadow1{
    box-shadow:20px -10px rgb(15, 76, 155);
}
#boxShadow2{
    box-shadow:20px -10px rgb(15, 76, 155);
}
#boxShadow3{
    box-shadow:20px -10px rgb(15, 76, 155);
}

#logoInfluence>img{
    padding:10px;
}

#footerSection3>p{
  margin-right:80px;
  margin-left:80px;
}

#footerSection3{
    width:95%;
    margin:auto,
}